    <div class="top-row">
        <div class="welcome">
        <h2>Hello, {{name}}!</h2>
        </div> 
    </div>

    <div class="name-box">
     <h3 class="name">Info:</h3>

        <form class="info">
            <div class="form-group">
                <label for="enterName">Name:</label>
                <input class="userInput" type="text" id="enterName" />
            </div>

        </form>
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="userInput" type="text" id="username">
            </div>

            <div class="form-group">
                <label for="Country">Country:</label>
                <input class="userInput" type="text" id="country">
            </div>

            <div class="form-group">
                <label for="City">City:</label>
                <input class="userInput" type="text" id="city">
            </div>

            <div class="form-group">
                <label for="State">State:</label>
                <input class="userInput" type="text" id="state">
            </div>

            <div class="form-group">
                <label for="Address">Address:</label>
                <input class="userInput" type="text" id="address">
            </div>

                <div class="form-group">
                <label for="Bio">Bio:</label>
                <input class="userInput" type="text" id="bio">
            </div>

                <div class="form-group">
                <label for="Gender">Gender:</label>
                <input class="userInput" type="text" id="gender">
            </div>

                <div class="form-group">
                <label for="Birth-Date">Birthday:</label>
                <input class="userInput" type="text" id="birthday">
            </div>

                <div class="form-group">
                <label for="Height">Height:</label>
                <input class="userInput" type="text" id="Height">
            </div>

                <div class="form-group">
                <label for="Weight">Weight:</label>
                <input class="userInput" type="text" id="Weight">
            </div>
    </div>

    <script src=".js/profile.js"