{{#each programs as |program| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{!-- {{{get_emoji}}} --}}
      <a href="/program/{{program.id}}">{{program.name}}</a>
    </h2>
      </div>
  <div class="col-md-7">
    <p>
      {{program.description}}
    </p>
  </div>
</div>
{{/each}}