<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="emailLogin">Email:</label>
        <input class="userInput" type="text" id="emailLogin" />
      </div>
      <div class="form-group">
        <label for="passwordLogin">Password:</label>
        <input class="userInput" type="password" id="passwordLogin" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  
  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="userCreate">Username:</label>
        <input class="userInput" type="text" id="userCreate" />
      </div>
      <div class="form-group">
        <label for="EmailSignUp">Email:</label>
        <input class="userInput" type="text" id="EmailSignUp" />
      </div>
      <div class="form-group">
        <label for="PasswordSignUp">Password:</label>
        <input class="userInput" type="password" id="PasswordSignUp" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>