
<section>
        <h2> Here are your workouts for today, {{user}}. Remember to practice safe sets and hydrate!</h2>
    
<ol>
    {{#each workout as |workout|}}
    <ul>
        <div class = "exercise">
        <a href="/seeds/workoutData.js"></a>
        </div>
        <button type="button" class="checkmark-record-btn>"></button>
    </ul>
    {{/each}}
</ol>
</section>
